<footer>
	<div class="vimeo-wrapper">
        <iframe 
		src="https://player.vimeo.com/video/770837517?h=cffede8e5c&amp;badge=0&amp;autopause=0&amp;controls=0&amp;loop=1&amp;autoplay=1&amp;muted=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="flywheel-loop" height="1080" width="1920">
		</iframe>
    </div>
    <div class="rendered">
    	<div class="text-with-logo">
    		<p>Services rendered by</p>
    		{cottingham-butler-logo}
    	</div>
    </div>
    <div class="contain">
        <div class="copy">
			{logo-black-with-text}
			{!-- <div class="input-contain">
				<input type="text" class="shadow" placeholder="Enter your DOT number">
				<button class="btn-rounded btn-black" onClick="redirectDOT()">Go</button>
			</div> --}
		</div>
    </div>
</footer>