<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{if embed:keywords}<meta name="keywords" content="{embed:keywords}">{/if}
	<meta name="description" content="{if embed:description}{embed:description}{if:else}Commercial trucking insurance made easy. Get your quote today.{/if}">
	<link rel='shortcut icon' type='image/x-icon' href='{site_url}images/fav/favicon.ico' />
	<link rel="apple-touch-icon" sizes="180x180" href="{site_url}images/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{site_url}images/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{site_url}images/fav/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{site_url}images/fav/favicon-16x16.png">
	<link rel="stylesheet" href="https://use.typekit.net/ggn1hiq.css">
	<link rel="stylesheet" type="text/css" href="{site_url}css/{embed:css}?v=2.224">
	<title>{embed:title} | Flywheel</title>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5GWQNPR');</script>
	<!-- End Google Tag Manager -->


</head>