<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GWQNPR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{if logged_in}
{embed="_includes/nav-updated"}
{if:else}

<nav>
	<div class="container-sm">
		<div class="nav-contain">
			<a href="{site_url}" class="logo">{logo-with-text}</a>
			<div class="nav-links">
				<a href="{site_url}faqs">Why Flywheel</a>
				<a href="{site_url}blog">Blog</a>
			</div>
			<div class="menu-icon">
				<input class="menu-icon__checkbox" type="checkbox" />
				<div>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
</nav>
{/if}