{embed="_includes/head" css="site.css" title="Home"}
<body>

	{embed="_includes/nav"}

	<section class="mast">
		<div class="container-sm">
			<div class="copy fadeup">
				<div class="logo">
					{logo-with-text}
				</div>
				<div class="overline">Coming Soon</div>
				<h1 class="white">Trucking insurance <br>made easy</h1>
				<p class="subhead">Get the coverage you need, at the price you want, backed by the customer support you deserve.</p>
				{!-- <div class="input-contain">
					<input type="text" placeholder="Enter your DOT Number" autofocus>
					<button class="btn-rounded bg-red" onClick="redirectDOT()">Let's Go</button>
				</div> --}
			</div>
		</div>
		<figure class="fadeup">
			{flywheel-icon}
		</figure>
	</section>

	<section class="get-quote">
		<img src="{site_url}images/home/city-aerial.png" alt="City aerial photo" class="cover fill">
		<div class="container-sm">
			<div class="copy fadeup">
				<div class="overline pad-small">Coming Soon</div>
				<h2 class="white">A New Kind of Truck Insurance</h2>
				<p class="subhead">Flywheel is everything traditional insurance is not. Our promise is to keep things simple, transparent, and affordable. Here’s how it works:</p>
			</div>
			<div class="steps-contain">
				<div class="step fadeup">
					<div class="step-number">
						<span>1</span>
					</div>
					<div class="step-copy">
						<h3 class="white">Enter DOT <br>Number</h3>
						<p>Verify some simple contact and fleet information and you’re well on your way!</p>
					</div>
				</div>
				<div class="step fadeup">
					<div class="step-number">
						<span>2</span>
					</div>
					<div class="step-copy">
						<h3 class="white">Select Your <br>Coverage</h3>
						<p>Review your personalized policy and rate options then choose what’s best for you.</p>
					</div>
				</div>
				<div class="step fadeup">
					<div class="step-number">
						<span>3</span>
					</div>
					<div class="step-copy">
						<h3 class="white">Download Certificate of Insurance.</h3>
						<p>Wrap it up with an easy online payment and get instant access to your certificates and new Flywheel Portal.</p>
					</div>
				</div>
			</div>
			<div class="img-with-copy fadeup">
				<div class="img">
					<img
					  srcset="{site_url}images/home/flywheel-insurance-screenshot.png,
					  {site_url}images/home/flywheel-insurance-screenshot@2x.png 2x"
					  src="{site_url}images/home/flywheel-insurance-screenshot.png"
					  alt="Flywheel Insurance Screenshot" />
				</div>
				<p>Digitally receive your policy number, certificates and cab cards <span>faster than ever.</span></p>
			</div>
		</div>
	</section>

	<section class="coverage">
		<div class="container-sm">
			<div class="contain">
				<div class="copy fadeup">
					<div class="overline">We’ve got you covered</div>
					<h2 class="darkgreen">Everything you need to keep your fleet protected</h2>
					<p class="subhead">No trucking company is the same, but many share the same risks. Flywheel offers comprehensive coverage options that fit your individual needs and budget.</p>
					<a href="#" class="btn bg-red">View Coverage Options</a>
				</div>
				<div class="coverage-types">
					<div class="types-left">
						<div class="type fadeup">
							<img src="{site_url}images/home/back-of-semi@2x.jpg" class="cover fill" alt="Cargo coverage">
							<div class="type-copy">
								<div class="heading">
									<h3 class="white">Cargo <br>Coverage</h3>
								</div>
								<p>Protect yourself and your customers against the destruction, damage or theft of the cargo you haul.</p>
							</div>
							<span class="expand-contain">
								<span class="open"></span>
								<span class="close"></span>
							</span>
						</div>
						<div class="type fadeup delay-50">
							<img src="{site_url}images/home/general-liability@2x.jpg" class="cover fill" alt="General Liability">
							<div class="type-copy">
								<div class="heading">
									<h3 class="white">General <br>Liability</h3>
								</div>
								<p>Protect your yourself and your customers against the destruction, damage or theft of the cargo you haul.</p>
							</div>
							<span class="expand-contain">
								<span class="open"></span>
								<span class="close"></span>
							</span>
						</div>
					</div>
					<div class="types-right">
						<div class="type fadeup delay-25">
							<img src="{site_url}images/home/auto-liability@2x.jpg" class="cover fill" alt="Auto liability">
							<div class="type-copy">
								<div class="heading">
									<h3 class="white">Auto <br>Liability</h3>
								</div>
								<p>Protect your yourself and your customers against the destruction, damage or theft of the cargo you haul.</p>
							</div>
							<span class="expand-contain">
								<span class="open"></span>
								<span class="close"></span>
							</span>
						</div>
						<div class="type fadeup delay-75">
							<img src="{site_url}images/home/physical-damage@2x.jpg" class="cover fill" alt="Physical damage">
							<div class="type-copy">
								<div class="heading">
									<h3 class="white">Physical <br>Damage</h3>
								</div>
								<p>Protect your yourself and your customers against the destruction, damage or theft of the cargo you haul.</p>
							</div>
							<span class="expand-contain">
								<span class="open"></span>
								<span class="close"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="industry-leaders">
		<div class="gradient">
			<div class="copy fadeup">
				<div class="overline">#1 Commercial Trucking Insurance Provider</div>
				<h2>Powered by the strength of Cottingham & Butler</h2>
				<p class="subhead darkgreen">
					Flywheel was created out of Cottingham & Butler, drawing on decades of trucking insurance experience and unmatched customer service.

				</p>
			</div>
			<div class="stats fadeup">
				<div class="stat">
					<span class="number"><span data-count="2500">2,500</span>+</span>
					<span class="text">Trucking Companies Served</span>
				</div>
				<div class="stat">
					<span class="number"><span data-count="95">95</span>%</span>
					<span class="text">Claims Retention</span>
				</div>
				<div class="stat">
					<span class="number"><span data-count="300">300</span>+</span>
					<span class="text">Dedicated Transportation Experts</span>
				</div>
			</div>
		</div>
	</section>

	{!-- <section class="not-ready-yet">
		<img src="{site_url}images/home/truck-bg.jpg" class="cover fill" alt="Semi driving down road">
		<div class="text-shadow">{flywheel-type}</div>
		<div class="container-sm">
			<div class="copy-contain fadeup">
				<div class="logo">
					{logo}
				</div>
				<div class="copy">
					<h2 class="white">Curious, but need more time?</h2>
					<p>No problem. Give us a little information and we’ll send you a reminder before your policy expires. </p>
					<a href="#" class="btn bg-darkblue">Contact Us</a>
				</div>
			</div>
		</div>
	</section> --}

	{embed="_includes/footer"}
	{embed="_includes/_scripts" js="home" rellax="y" countup="y" waypoints="y"}
	<script src="https://player.vimeo.com/api/player.js"></script>
</body>
</html>